//- Edit the details below for the default Email signature
block email-signature
  -var person_name =            'Dan Russell'  //- as displayed, no typos! (eg 'Braulio Agnese')
  -var person_title =           'President and CEO'  //- as displayed (eg 'Managing Director')
  -var phone_number =           '202.739.9180'  //- as displayed (eg '202-387-0404')
  -var phone_number_tel =       '+12027399180'  //- full phone w/ country code, no spaces (eg '+12023870404')
  -var company_name =           'Dupont Underground'  //- as displayed (eg 'Dupont Underground')
  -var company_url =            'usrgbc.org'  //- just domain (no http://)
  -var logo_image_url =         'http://s29.postimg.org/yr2b1h0mv/usrbc_logo_100x100_2x.png'  //- permanent URL, scaled to 2x
  -var logo_width =             70  //- pixel value, no units or quotes (eg, 150) 
  -var logo_height =            70  //- pixel value, no units or quotes(eg, 100)
  -var signature_width =        340  //- number, pixel value, no units (eg, 340)
  -var text_color =             '#101820'  //- 6-digit HEX, (eg #111111)
  -var link_color =             '#0536BF'  //- 6-digit HEX (eg #45fcd3)
  -var font_stack =             '"Helvetica Neue","Helvetica","Arial","sans-serif"'  //- list of font names separated by commas. no spaces. use double quotes, eg ('"Gotham",Helvetica Neue","Arial","sans-serif"')
  -var font_style =             'normal'  //- normal, bold, italic, extrabold, etc
  -var font_size =              '14px'   //- include units eg (14px, or 10px)  
  
  //- inline CSS styles, you don't need to edit these
      unless you want to change the styles for some reason
  -var font_styles =            'font-family:' + font_stack + ';font-style:' + font_style + ';font-size:' + font_size + ';color:' + text_color
  -var font_styles_link =       'font-family:' + font_stack + ';font-style:' + font_style + ';font-size:' + font_size + ';color:' + link_color +';text-decoration:none'