section.container.logo#logo
  section.module-header
    h3 Logo
    p
      | This is foundation of the #{shortname} brand. To apply the logo, please choose the appropriate configuration based on the context.
  section.logoBlock.group
    img.logoBlock__mark(src='brand-files/logos/animated-logo/mark.svg')
    img.logoBlock__type.logoBlock__english(src='brand-files/logos/animated-logo/english-type-helvetica.svg')
    img.logoBlock__type.logoBlock__russian(src='brand-files/logos/animated-logo/russian-type-helvetica.svg')
    img.logoBlock__type.logoBlock__acronym(src='brand-files/logos/animated-logo/acronym-helvetica.svg')
  .clearfix
  a.top(href='#top') »