//- Single column body content tamplate

.guideline-wrapper#color-palette
  .guideline-section
    .col-sm-12 
      h3 Color Palette
      p There are 3 colors used in the primary #{clientName} brand. Based on the medium in which the logo will be presented, these colors will change.
  .guideline-section
    .col-sm-5
      h5 Red
    .col-sm-7
      .swatch(style='background: #EB4147;')
      ul.swatch-details
        li
          b Pantone:
          |  185 C
        li
          b CMYK:
          |  0 93 79 0
        li
          b RGB:
          |  237 28 36
        li
          b Hex:
          |  #EB4147
  .guideline-section
    .col-sm-5
      h5 Black
    .col-sm-7
      .swatch(style='background: #111111;')
      ul.swatch-details
        li
          b Pantone:
          |  185 C
        li
          b CMYK:
          |  0 93 79 0
        li
          b RGB:
          |  237 28 36
        li
          b Hex:
          |  #EB4147
  .guideline-section
    .col-sm-5
      h5 Grey
    .col-sm-7
      .swatch(style='background: #e5e5e5;')
      ul.swatch-details
        li
          b Pantone:
          |  185 C
        li
          b CMYK:
          |  0 93 79 0
        li
          b RGB:
          |  237 28 36
        li
          b Hex:
          |  #EB4147
  a.top(href='#top') »
