//- Single column body content tamplate

section.container#email-signature
  h3 Email Signature
  p
    | This is a branded email signature for USRBC staff.  Click the link below and copy + paste into your email client.  Please contact your IT support staff for help with changing the signature on your email client.  Here is a link with instructions for 
    a(href='https://support.office.com/en-us/article/Change-an-email-signature-7db4abed-abe1-44aa-b423-38ab143427fa', target='_blank') Outlook
    |  and a 
    a(href='brand-files/how-to-add-email-signature.pdf') PDF
    |  with instructions for Mac Mail, Gmail, and iOS
  section.images.clearfix
    .group
      section.figure--description
        h5
          a(href='brand-files/email-signature/email-signature.html', target='_blank', style='font-size:75%') View Signature
      section.figure
        img(src='brand-files/email-signature/email-signature@2x.png', alt='Acceptable Configurations')
      .clearfix
    a.top(href='#top') »