//- Single column body content tamplate
.guideline-wrapper#stationery
  .guideline-section
    .col-sm-12
      h3 Stationery
  .guideline-section
    .col-sm-4
      h5 Business Card
        br
        a.download-link(href='brand-files/stationery/business-card/business-cards-moo.zip') Illustrator package for Moo
    .col-sm-8
      img(src='brand-files/stationery/z-mock-ups/business-card-preview.png')
  a.top(href='#top') »