/*
==========================================================================
	CONTENT (scss/partials/_content.scss)
==========================================================================
*/
section {
  @include span(95%);
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  float: none;
  clear: both;

  &.container {
    margin-bottom: 40px;
    position: relative;

    background: $white;
    border: 1px solid $black-10;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  .top {
    padding: 20px 10px;
    display: inline-block;
    position: absolute;
    top: 38px; right: 5.8%;

    color: $black-20;
    font-family: Consolas, monaco, monospace;
    font-size: $large;
    line-height: 0;
    
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    @include media-query(mobile) {
      top: -1px; right: 0px;
    }

    &:hover {
      background: $black;
      color: $white;
    }
  }

  h3,
  p,
  ul {
    width: 90%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    float: none;

    @include media-query(mobile) {
      width: 100%;
    }
  }

  ul {
    // padding-left: 40px;
  }

  &.images,
  &.colors {

    padding-left: 0;
    padding-right: 0;

    @include media-query(mobile) {
      padding-left: 0;
      padding-right: 0;
    }

    .group {
      @include span(95% nest);
      max-width: 900px;
      margin: 0 auto 20px;
      float: none;
      padding-top: 20px;
      padding-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include media-query(mobile) {
        @include span(100% nest);
        margin: 0 auto 20px;
      }

      h5 {
        @include span(40%);
        padding-left: 0;

        @include media-query(mobile) {
          @include span(100% nest);
          margin-bottom: .5em;
          padding-left: 0;
        }
      }
      
      img {
        @include span(60%);
        padding-right: 0;
        height: auto;

        @include media-query(mobile) {
          @include span(100%);
          padding-left: 0;
          padding-right: 0;
        }
      }

      .logo {
        max-width: 220px;
      }
      
      .values {
        @include span(60%);
        padding-right: 0;

        @include media-query(mobile) {
          @include span(100%);
          padding-left: 0;
          padding-right: 0;
        }

        .swatch {
          @include span(30% nest);
          &:after {
            display: block;
            content: '';
            padding-bottom: 100%;
          }
        }

        ul {
          @include span(70%);
          margin: 0;
          padding-right: 0;
          list-style-type: none;
        }
      }
    }
  }
  &.downloads {

    @include media-query(mobile) {
      padding-left: 0;
      padding-right: 0;
    }

    .group {
      //@include span(90% nest);
      max-width: 900px;
      margin: 0 auto 20px;
      float: none;

      @include media-query(mobile) {
        //@include span(100% nest);
        margin: 0 auto 20px;
        float: none;
      }

      h5 {
        @include span(40%);
        margin: 0;
        padding-left: 0;

        @include media-query(mobile) {
          @include span(100% nest);
        }
      }
      
      img {
        @include span(30%);
        height: auto;
        padding-right: 0;

        @include media-query(mobile) {
          @include span(50% nest);
        }
      }
      ul {
        @include span(40%);
        float: left;
        clear: left;
        padding-right: 0;
        list-style-type: none;
        padding: 0;
        @include media-query(mobile) {
          @include span(100% nest);
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &:first-of-type:first-child {
      margin-top: 0;
    }
  }
}