/*
==========================================================================
	OVERRIDES: Styles added to give two columns for the figure area
  -----
  I would like to redo the styles for the style guide when time is available
  because this is dirty :(
==========================================================================
*/

.group {
    max-width: 900px;
    margin: 0 auto 20px;
    float: none;
    padding-top: 20px;
    padding-bottom: 40px;
  @include media-query(mobile) {
    display: block;
    clear: both;
  }
}

img {
  max-width: 100%;
}

.figure--description {
  width: 40%;
  float: left;
  clear: none;

  @include media-query(mobile) {
    display: block;
    width: 100%;
    clear: both;
    float: none;
  }
}

.figure {
  width: 55%;
  float: left;
  clear: none;
  
  @include media-query(mobile) {
    display: block;
    width: 100%;
    clear: both;
    float: none;
  }
}

.values .swatch {
  width: 50%;
  float: left;

  &:after {
    display: block;
    content: '';
    padding-bottom: 100%;
  }
}

.values ul {
  margin-top: 1%;
  padding-left: 4%;
  width: 50%;
  float: left;
  list-style: none;
}
