//- Single column body content tamplate

section.container
  h3#color Color Palette
  p
    | There are 3 colors used in the primary USRBC brand. Based on the medium in which the logo will be presented, these colors will change.
  section.colors
    .group
      h5 Blue
      .values
        .swatch(style='background: #0536BF;')
        ul
          li
            b Pantone:
            |  2736 C
          li
            b CMYK:
            |  97 95 0 0
          li
            b RGB:
            |  4 54 191
          li
            b Hex:
            |  #0536BF
      .clearfix
    .group
      h5 Red
      .values
        .swatch(style='background: #ED1C24;')
        ul
          li
            b Pantone:
            |  185 C
          li
            b CMYK:
            |  0 93 79 0
          li
            b RGB:
            |  237 28 36
          li
            b Hex:
            |  #ED1C24
      .clearfix
    .group
      h5 Black
      .values
        .swatch(style='background: #101820;')
        ul
          li
            b CMYK:
            |  100 100 100 100
          li
            b RGB:
            |  16 24 32
          li
            b Hex:
            |  #101820
      .clearfix
  //
    <p>The logo may only be presented at 100% black. On a dark background, the logo may only appear in reverse white. <strong>Please note:</strong> On certain, extremely special occasions, WPA may allow individuals to bend these rules, but <em>never</em> break them, and always please ask first.</p>
    <section class="images">
    <div class="group">
    <h5>Acceptable Color Use</h5>
    <img src="img/accept_color.jpg" alt="Acceptable Color Use" width="500" height="162" />
    <div class="clearfix"></div>
    </div>
    <div class="group">
    <h5>Unacceptable Color Use (examples)</h5>
    <img src="img/unaccept_color.jpg" alt="Unacceptable Color Use" width="500" height="162" />
    <div class="clearfix"></div>
    </div>
    </section>
    <p>If you have any further questions, please feel free to contact <a href="mailto:lgold@wpadc.org">lgold@wpadc.org</a>.</p>
  a.top(href='#top') »
    