//- Single column body content tamplate

section.container
  h3#typography Typography
  p
    | The U.S.-Russia Business Council's primary brand font is 
    strong Helvetica Neue Pro
    | .  This 1 typeface can be displayed in either the Latin alphabet for English or the Cyrillic alphabet for Russian.  You can purchase this font at 
    a(href='http://www.myfonts.com/fonts/linotype/helvetica-neue-pro/', target='_blank') MyFonts
    | .
  section.images
    .group
      h5
        | Helvetica Neue Pro
        br
        | 55 Roman
      img(src='brand-files/typography/latin-roman.jpg', alt='Helvetica Neue Type Study', width='500', height='162')
      .clearfix
  section.images
    .group
      h5
        | Helvetica Neue Pro
        br
        | 75 Bold
      img(src='brand-files/typography/latin-bold.jpg', alt='Proxima Nova Type Study', width='500', height='162')
      .clearfix
  section.images
    .group
      h5
        | Helvetica Neue Pro Cyrillic
        br
        | 55 Roman
      img(src='brand-files/typography/cyrillic-roman.jpg', alt='Proxima Nova Type Study', width='500', height='162')
      .clearfix
  section.images
    .group
      h5
        | Helvetica Neue Pro Cyrillic
        br
        | 75 Bold
      img(src='brand-files/typography/cyrillic-bold.jpg', alt='Proxima Nova Type Study', width='500', height='162')
      .clearfix
  a.top(href='#top') »