//- Single column body content tamplate

section.container
  h3#stationery Stationery Package
  section.images
    .group
      h5
        | Business Card
        br
        a(href='brand-files/stationery/business-card/2015.09.02-us_russia-stationery-business_card.zip', style='font-size:75%;padding-top:10px') Download (InDesign package)
      img(src='img/stationery/business-card@1600x1733.jpg')
      .clearfix
    .group
      h5
        | Letterhead
        br
        a(href='brand-files/stationery/letterhead/2015.09.02-us_russia-stationery-letterhead.zip', style='font-size:75%;padding-top:10px') Download (InDesign package)
      img(src='img/stationery/letterhead@1600x1885.jpg')
      .clearfix
    .group
      h5
        | Menu Cover
        br
        a(href='brand-files/stationery/menu-cover/2015.09.02-us_russia-stationary-menu_cover.zip', style='font-size:75%;padding-top:10px') Download (Illustrator document)
      img(src='img/stationery/menu-cover@1600x1679.jpg')
      .clearfix
  a.top(href='#top') »