
nav#main-nav
  ul
    li
      a.nav-link(href='#logo') Logo
    li
      a.nav-link(href='#configurations') Logo Configurations
    // <li><a href="#use">Logo Use</a></li>
    li
      a.nav-link(href='#color') Color
    li
      a.nav-link(href='#typography') Typography
    li
      a.nav-link(href='#email-signature') Email Signature
    li
      a.nav-link(href='#stationery') Stationery Package