
nav
  ul
    li
      a(href='#logo') Logo
    li
      a(href='#configurations') Logo Configurations
    // <li><a href="#use">Logo Use</a></li>
    li
      a(href='#color') Color
    li
      a(href='#typography') Typography
    li
      a(href='#email-signature') Email Signature
    li
      a(href='#stationery') Stationery Package