section.container.logo#logo
  section.module-header
    h3 Logo
    p
      | The #{shortname} logo is 1 basic configuration, which varies based on the logotype needed.  Please choose the configuration based on the appropriate linguistic representation.
      | Is this a Russian-language application?  Is it bi-lingual?  Choose accordingly from the items below. The logo may not be used in any other configuration.
  section.logoBlock.group
    img.logoBlock__mark(src='brand-files/logos/animated-logo/mark.svg')
    img.logoBlock__type.logoBlock__english(src='brand-files/logos/animated-logo/english-type-helvetica.svg')
    img.logoBlock__type.logoBlock__russian(src='brand-files/logos/animated-logo/russian-type-helvetica.svg')
    img.logoBlock__type.logoBlock__acronym(src='brand-files/logos/animated-logo/acronym-helvetica.svg')
  .clearfix
  a.top(href='#top') »