

block html-header
    a#top
    article#wrapper
      // START: Page-header
      include header/page-header.jade
      
      // START: Logo
      include content/01-logo.jade
      // START: Logo Configurations
      include content/02-logo-configuration.jade
      // START: Color
      include content/03-color.jade
      // START: Typography
      include content/04-typography.jade
      // START: Email Signiture
      include content/05-email-signiture.jade
      // START: Stationery Package
      include content/06-stationery-package.jade
      // START: Footer
      include footer/page-footer.jade

      //START: Footer Scripts
      include footer/footer-scripts.jade