extends layout.jade

//- Call variables in your content like this: #{longName} 
block vars
  //- Naming
  - var longName='Global Docs'
  - var shortName='Global Docs'

  //- Branding Elements
  - var headerBackgroundColor = '#123456'
  - var linkColor = '#123456'
  - var linkColorHover = '#2A71B7'
  
block navigation
  include header/navigation.jade

block content
  // START: Logo
  include content/01-logo.jade
  // START: Logo Configurations
  include content/02-logo-configuration.jade
  // START: Color
  include content/03-color.jade
  // START: Typography
  include content/04-typography.jade
  // START: Email Signiture
  include content/05-email-signiture.jade
  // START: Stationery Package
  include content/06-stationery-package.jade

