doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title U.S.-Russia Business Council Style Guide
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='stylesheet', href='css/main.css')
    style.
      .small-link {
      font-size: 16px;
      line-height: 1;
      }
    script(src='js/vendor/modernizr-2.6.2.min.js')
    script(src='js/vendor/conditionizr.min.js')
  body
    //if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    a#top
    article#wrapper
      header#pageHeader
        h1 U.S.-Russia Business Council
        small
          a(href='http://ripe.com', target='_blank') Created by ripe
        p
          | USRBC’s logo is a valuable commodity which has been developed to be used in a specific manner. Consistent use of the mark is necessary from both a branding and legal standpoint.
        p Jump to:
        nav
          ul
            li
              a(href='#logo') Logo
            li
              a(href='#configurations') Logo Configurations
            // <li><a href="#use">Logo Use</a></li>
            li
              a(href='#color') Color
            li
              a(href='#typography') Typography
            li
              a(href='#email-signature') Email Signature
            li
              a(href='#stationery') Stationery Package



              
      section.container.logo
        h3#logo Logo
        p
          | The USRBC logo is 1 basic configuration, which varies based on the logotype needed.  Please choose the configuration based on the appropriate linguistic representation.
          | Is this a Russian-language application?  Is it bi-lingual?  Choose accordingly from the items below. The logo may not be used in any other configuration.
        section.logoBlock
          img.logoBlock__mark(src='img/logoBlock/mark.svg')
          img.logoBlock__type.logoBlock__english(src='img/logoBlock/english-type-helvetica.svg')
          img.logoBlock__type.logoBlock__russian(src='img/logoBlock/russian-type-helvetica.svg')
          img.logoBlock__type.logoBlock__acronym(src='img/logoBlock/acronym-helvetica.svg')
        .clearfix
        a.top(href='#top') »




      section.container
        h3#configurations Logo Configurations
        p
          | Please be sure you are downloading the correct logo for your purpose (ie. for print, download CMYK, for web, download RGB). 
          strong
            | If you intend to post the USRBC logo on a website, please download the image and reupload it to your server — do not hotlink from our server.
        section.images
          .group
            h5
              | Mark only
              br
              a.small-link(href='brand-files/logos/mark-only/cmyk/2015.09.01-ursbc-mark-only-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/mark-only/rgb/2015.09.01-ursbc-mark-only@3x.png') Web (RGB)
            img(style='width:11%', src='./brand-files/logos/mark-only/rgb/2015.09.01-ursbc-mark-only@3x.png', alt='Acceptable Configurations', width='100', height='auto')
            .clearfix
          .group
            h5
              | English (3-lines)
              br
              a.small-link(href='brand-files/logos/english-three-lines/cmyk/2015.09.01-ursbc-english-three-lines-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/english-three-lines/rgb/2015.09.01-ursbc-english-three-lines@3x.png') Web (RGB)
            img(style='width:23%', src='./brand-files/logos/english-three-lines/rgb/2015.09.01-ursbc-english-three-lines@3x.png', alt='English 3 lines', width='100', height='auto')
            .clearfix
          .group
            h5
              | English (2-lines)
              br
              a.small-link(href='brand-files/logos/english-two-lines/cmyk/2015.09.01-ursbc-english-two-lines-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/english-two-lines/rgb/2015.09.01-ursbc-english-two-lines@3x.png') Web (RGB)
            img(style='width:36%', src='./brand-files/logos/english-two-lines/rgb/2015.09.01-ursbc-english-two-lines@3x.png', alt='Unacceptable Configurations', width='500', height='auto')
            .clearfix
          .group
            h5
              | Russian (3-lines)
              br
              a.small-link(href='brand-files/logos/russian-three-lines/cmyk/2015.09.01-ursbc-russian-three-lines-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/russian-three-lines/rgb/2015.09.01-ursbc-russian-three-lines@3x.png') Web (RGB)
            img(style='width:28%', src='./brand-files/logos/russian-three-lines/rgb/2015.09.01-ursbc-russian-three-lines@3x.png', alt='Unacceptable Configurations', width='500', height='162')
            .clearfix
          .group
            h5
              | Russian (2-lines)
              br
              a.small-link(href='brand-files/logos/russian-two-lines/cmyk/2015.09.01-ursbc-russian-two-lines-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/russian-two-lines/rgb/2015.09.01-ursbc-russian-two-lines@3x.png') Web (RGB)
            img(style='width:45%', src='./brand-files/logos/russian-two-lines/rgb/2015.09.01-ursbc-russian-two-lines@3x.png', alt='Minimum Encroachment Area', width='500', height='322')
            .clearfix
          .group
            h5
              | Bi-lingual Acronyn
              br
              a.small-link(href='brand-files/logos/bilingual-acronym/cmyk/2015.09.01-ursbc-bilingual-acronym-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/bilingual-acronym/rgb/2015.09.01-ursbc-bilingual-acronym@3x.png') Web (RGB)
            img(style='width:23%', src='./brand-files/logos/bilingual-acronym/rgb/2015.09.01-ursbc-bilingual-acronym@3x.png', alt='Minimum Encroachment Area', width='500', height='322')
            .clearfix
          .group
            h5
              | Bi-lingual Fullname
              br
              a.small-link(href='brand-files/logos/bilingual-full-name/cmyk/2015.09.01-ursbc-bilingual-full-name-CMYK.eps') Print (CMYK)
              br
              a.small-link(href='brand-files/logos/bilingual-full-name/rgb/2015.09.01-ursbc-bilingual-full-name@3x.png') Web (RGB)
            img(src='./brand-files/logos/bilingual-full-name/rgb/2015.09.01-ursbc-bilingual-full-name@3x.png', alt='Minimum Encroachment Area', width='500', height='322')
            .clearfix
        a.top(href='#top') »





      section.container
        h3#color Color Palette
        p
          | There are 3 colors used in the primary USRBC brand. Based on the medium in which the logo will be presented, these colors will change.
        section.colors
          .group
            h5 Blue
            .values
              .swatch(style='background: #0536BF;')
              ul
                li
                  b Pantone:
                  |  2736 C
                li
                  b CMYK:
                  |  97 95 0 0
                li
                  b RGB:
                  |  4 54 191
                li
                  b Hex:
                  |  #0536BF
            .clearfix
          .group
            h5 Red
            .values
              .swatch(style='background: #ED1C24;')
              ul
                li
                  b Pantone:
                  |  185 C
                li
                  b CMYK:
                  |  0 93 79 0
                li
                  b RGB:
                  |  237 28 36
                li
                  b Hex:
                  |  #ED1C24
            .clearfix
          .group
            h5 Black
            .values
              .swatch(style='background: #101820;')
              ul
                li
                  b CMYK:
                  |  100 100 100 100
                li
                  b RGB:
                  |  16 24 32
                li
                  b Hex:
                  |  #101820
            .clearfix
        //
          <p>The logo may only be presented at 100% black. On a dark background, the logo may only appear in reverse white. <strong>Please note:</strong> On certain, extremely special occasions, WPA may allow individuals to bend these rules, but <em>never</em> break them, and always please ask first.</p>
          <section class="images">
          <div class="group">
          <h5>Acceptable Color Use</h5>
          <img src="img/accept_color.jpg" alt="Acceptable Color Use" width="500" height="162" />
          <div class="clearfix"></div>
          </div>
          <div class="group">
          <h5>Unacceptable Color Use (examples)</h5>
          <img src="img/unaccept_color.jpg" alt="Unacceptable Color Use" width="500" height="162" />
          <div class="clearfix"></div>
          </div>
          </section>
          <p>If you have any further questions, please feel free to contact <a href="mailto:lgold@wpadc.org">lgold@wpadc.org</a>.</p>
        a.top(href='#top') »





      section.container
        h3#typography Typography
        p
          | The U.S.-Russia Business Council's primary brand font is 
          strong Helvetica Neue Pro
          | .  This 1 typeface can be displayed in either the Latin alphabet for English or the Cyrillic alphabet for Russian.  You can purchase this font at 
          a(href='http://www.myfonts.com/fonts/linotype/helvetica-neue-pro/', target='_blank') MyFonts
          | .
        section.images
          .group
            h5
              | Helvetica Neue Pro
              br
              | 55 Roman
            img(src='brand-files/typography/latin-roman.jpg', alt='Helvetica Neue Type Study', width='500', height='162')
            .clearfix
        section.images
          .group
            h5
              | Helvetica Neue Pro
              br
              | 75 Bold
            img(src='brand-files/typography/latin-bold.jpg', alt='Proxima Nova Type Study', width='500', height='162')
            .clearfix
        section.images
          .group
            h5
              | Helvetica Neue Pro Cyrillic
              br
              | 55 Roman
            img(src='brand-files/typography/cyrillic-roman.jpg', alt='Proxima Nova Type Study', width='500', height='162')
            .clearfix
        section.images
          .group
            h5
              | Helvetica Neue Pro Cyrillic
              br
              | 75 Bold
            img(src='brand-files/typography/cyrillic-bold.jpg', alt='Proxima Nova Type Study', width='500', height='162')
            .clearfix
        a.top(href='#top') »




      section.container
        h3#email-signature Email Signature
        p
          | This is a branded email signature for USRBC staff.  Click the link below and copy + paste into your email client.  Please contact your IT support staff for help with changing the signature on your email client.  Here is a link with instructions for 
          a(href='https://support.office.com/en-us/article/Change-an-email-signature-7db4abed-abe1-44aa-b423-38ab143427fa', target='_blank') Outlook
          |  and a 
          a(href='brand-files/how-to-add-email-signature.pdf') PDF
          |  with instructions for Mac Mail, Gmail, and iOS
        section.images
          .group
            h5
              a(href='brand-files/email-signature/usrbc-email-signature.html', target='_blank', style='font-size:75%') View Signature
            img(src='brand-files/email-signature/email-signature@2x.png', alt='Acceptable Configurations', width='100', height='auto')
            .clearfix
          a.top(href='#top') »



      section.container
        h3#stationery Stationery Package
        section.images
          .group
            h5
              | Business Card
              br
              a(href='brand-files/stationery/business-card/2015.09.02-us_russia-stationery-business_card.zip', style='font-size:75%;padding-top:10px') Download (InDesign package)
            img(src='img/stationery/business-card@1600x1733.jpg')
            .clearfix
          .group
            h5
              | Letterhead
              br
              a(href='brand-files/stationery/letterhead/2015.09.02-us_russia-stationery-letterhead.zip', style='font-size:75%;padding-top:10px') Download (InDesign package)
            img(src='img/stationery/letterhead@1600x1885.jpg')
            .clearfix
          .group
            h5
              | Menu Cover
              br
              a(href='brand-files/stationery/menu-cover/2015.09.02-us_russia-stationary-menu_cover.zip', style='font-size:75%;padding-top:10px') Download (Illustrator document)
            img(src='img/stationery/menu-cover@1600x1679.jpg')
            .clearfix
        a.top(href='#top') »


      footer#pageFooter
        p
          | All logos and brand assets are © Copyright USRBC and may only be used with permission. All rights reserved.
        p
          | The USRBC word mark is a ® registered trademark with the US Patent and Trademark office.
        p
          a.logo(href='http://ripe.com', target='_blank')
          | Brand designed and developed by 
          a(href='http://ripe.com', target='_blank', title='ripe | Brading | Graphic Design | Web Design | Washington DC') ripe
          | .
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\\/script>')
    script(src='js/vendor/jquery.velocity.min.js')
    script(src='js/main.js')
