
header#pageHeader
  h1 #{longName}
  small
    a(href='http://ripe.com', target='_blank') Created by ripe
  p
    | #{shortName}’s logo is a valuable commodity which has been developed to be used in a specific manner. Consistent use of the mark is necessary from both a branding and legal standpoint.
  p Jump to:

  block navigation