extends bin/jade/layout.jade

//- Call variables in your content like this: #{longName} 
block organizationDetails
  //- Naming
  - var longName='U.S. Russia Business Council'
  - var shortName='USRBC'

  //- Branding Elements
  - var headerBackgroundColor = '#0536BF'
  - var linkColor = '#ED1C24'
  - var linkColorHover = '#0536BF'
  
block navigation
  //- Edit the file below if you want to change 
      The navigation of the style guide
  include guidelines/00-navigation.jade

block content
  //- If you want to update the content of the guidelines
      then edit the corresponding file below. 
      The order they appear below is the order they will
      show up on the screen.

  //- Logo
  include guidelines/01-logo.jade
  //- Configurations
  include guidelines/02-logo-configuration.jade
  //- Color
  include guidelines/03-color.jade
  //- Typography
  include guidelines/04-typography.jade
  //- Email Signature
  include guidelines/05-email-signature.jade
  //- Stationery Package
  include guidelines/06-stationery-package.jade

